.icon-coding:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f121";
}

.icon-family:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f004";
}

.icon-food:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f0f4"; /* "\f094"; */
}

.icon-health:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f0fa";
}

.icon-knives:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f0d0";
}

.icon-skincare:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f221";
}

.icon-wildlife::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome; 
  content: "\f1b0";
}

/*
.region-header .menu--account li:first-child a:before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: FontAwesome;
  content: "\f2bd";
}

.region-header .menu--account li:last-child a::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: 'FontAwesome';
  content: "\f2f5";
}
*/

.search-form .form-submit.icon-only, .form-type-search .form-submit.icon-only{
  background-color: #2d2d2d;
  border-left-width:0;
}
