@font-face {
    font-family: Gotham-book;
    src: url('../fonts/gotham_svs/Gotham-Book.otf');
}

@font-face {
    font-family: Gotham-light;
    src: url('../fonts/gotham_svs/Gotham-Light.otf');
}

@font-face {
    font-family: Gotham-medium;
    src: url('../fonts/gotham_svs/Gotham-Medium.otf');
}

body{
	font-family:Gotham-book;
	margin-top: 5px;
}

h1{
	font-family:Gotham-medium;
	font-size:20px;
}

h2{
	font-family:Gotham-medium;
	font-size:18px;
}

.region-footer{
	text-align:center;
}

.logo{
	margin-right:0;
}

body.simplelogin{
	background-image:none;
	background-color:#F0F0F0;
}

input, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color:#F0F0F0!important;
}

.region-header .form-search, .region-header button{
	margin-top: 15px;
}

.region-header{
	border-bottom: solid 3px #F0F0F0;
	margin-bottom: 20px;
	padding-bottom: 0;
}

.region-content{
	padding-left: 20px;
	border-right: solid 3px #F0F0F0;
	padding-right: 20px;
	
}

.page-header{
	border-bottom: none;
	margin-bottom:5px;
}

.author{
	font-size:10px;
	margin-bottom:5px;
}

.field--name-field-tags{
	font-size:10px;
}

.logo img, .simplelogin-logo img{
	width:60px;
}

.navbar-brand {
	padding: 20px 60px 0 10px;
	color: #A52A2A;
}

.navbar-nav > li > a {
	margin:1px;
	margin-top:15px;
	padding: 8px 8px 7px 8px;
	font-size: 12px;
}

.simplelogin-bg .region-content .page-header{
	text-align: center;
	font-size:16px;
}

.simplelogin-form input.form-submit, .simplelogin-form button.form-submit, .simplelogin-form input.form-submit:hover, .simplelogin-form input.form-submit:active, .simplelogin-form input.form-submit:focus, .simplelogin .link:hover, .simplelogin .link:focus {
	padding:10px;
	background-color:#FFF;
}

.simplelogin-form input.form-submit:hover, .simplelogin-form button.form-submit:hover, .simplelogin-form input.form-submit:hover, .simplelogin .link:hover {
	background-color:#eee;
}

.simplelogin-form input[type="submit"], .simplelogin-form button.form-submit {
    text-transform: capitalize;
    font-size:14px;
    font-weight: normal;
    color:#0d5eae;
}

.simplelogin h1 {
	color: #A52A2A;
}

.page-header {
	color: #808080!important;
}

.btn-primary {
	color: #ccc;
	background-color: #fff;
	border-color: #ccc;
}